//公共scss样式入口


//导航navbar的padding
$navbar-padding-y: 0;
$navbar-padding-x: 0;
//导航logo的padding
$navbar-brand-padding-y: 0;
//导航每一个item的padding
$nav-link-padding-y: 0;
//导航每一个item的margin
$navbar-nav-link-padding-x: 26px;
//alert margin
$alert-margin-bottom: 0;

$light-gray: #f2f2f2;
$orange: #ff6a00;
$gray: #666;
$a-blue: #337ab7;
$blue: #00428e;
$purple: rgb(112, 79, 160);
$purple-dark: rgb(98, 60, 154);
$light-blue: #28cccc;
$success: #2CB663;
$error: #EB5252;
$baseImgPath: '/img/';



$main-font-color: $purple;
$main-border-color: $purple-dark;


.container {
    max-width: 100% !important;
}

// 路由公用样式
.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-active {
  opacity: 0;
}


//最后需要重新引入样式依赖
// @import "bootstrap/css/bootstrap.css";

